/* Layout styles that don't pertain to
the major grids or the spacing of sections,
Robin Johnson, 8/25/24 */

/* Universal styles */
.centering-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#learner-section, #chemistry-section, .skill-bubble, .example {
    padding: 2rem;
}
* {
    border-radius: 0.5rem;
}


/* Header styles */
header {
    height: 100vh;
}
#header-image, #header-text {
    max-height: 50vh
} /* FIXME CHANGE THIS IF THE IMAGE GETS SQUISHED */

/* Nav Styles */
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li {
    padding: 0.3rem;
}
@media screen and (max-width: 800px) {
    .nav-bullet {
        display: none;
    }
}

/* Skill Section Styles */
.skill-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

/* Project Styles */
.link-box {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.link-text {
    margin-left: 1rem;
}
