/* Universal styles */
.centering-container {
    display: flex;
    justify-content: center;
    align-items: center;
}/* Right now this is only used for the arrow image */

/* Header styles */
header {
    height: 100vh;
}

/* Nav Styles */
nav {
    padding: 1rem;
}
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li {
    padding: 0.5rem;
}
