:root {
    --major-margin: 3rem;
    --minor-margin: 1rem;
    --header-margin: 1rem;
    --text-margin: 0.5rem;
    --XL-margin: 10rem;
}

/* Universal Major Margins */
#arrow-container, #learner-section, 
#skills-image, #design-bubble, #projects-image, 
#footer-image {
    margin-top: var(--major-margin);
}
footer {
    margin-bottom: var(--major-margin);
}
#projects-section {
    margin-bottom: var(--major-margin);
}

/* Universal Minor Margins */
#chemistry-section, .skill-bubble, .example,
.link-box {
    margin-top: var(--minor-margin);
}
nav {
    margin: var(--minor-margin) 0rem;
}

/* Desktop Margins */
@media screen and (min-width: 800px) {
    /* Major Margins */
    #skills-text, #development-bubble, 
    #content-bubble, #projects-section, 
    #footer-text {
        margin-top: var(--major-margin);
    }

    /* Minor Margins */
    #learner-section, .skill-bubble, 
    .skill-group, .example {
        margin-top: var(--minor-margin);
    }

    /* XL Margins */
    #learner-section, #chemistry-section, 
    #skills-image, #skills-text, #projects-image,
    #projects-section, footer {
        margin-top: var(--XL-margin);
    }
}
/* Mobile Only Margins */
@media screen and (max-width: 800px) {
    #chemistry-section {
        margin-top: var(--major-margin);
    }
}

/* Text Gaps */
h1, h2 {
    margin: var(--minor-margin) 0;
}
h3 {
    line-height: normal;
    margin: 0.5rem 0;
}
.skill-bubble h3 {
    margin-top: 0rem;
    /* These headers are already in a
    a padded bubble so they don't need
    the top margin */
}
p {
    margin-bottom: var(--text-margin);
}